<ion-header>
  <ion-toolbar>
    <ion-title>Membros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kaiky Santos Faustino</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/images/kai.JPG" alt="Kaiky">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gabriel da Conceição André Barreto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/images/gabriel.jpg" alt="Gabriel's Photo">
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-header>
  
</ion-header>
